.sidebar {
  height: 100vh;
  flex: 0.2;
  background-color: #040404;
  min-width: 230px;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar_logo {
  margin-right: auto;
  height: 70px;
  padding: 10px;
}

.sidebar_title {
  color: white;
  margin-left: 10px;
  padding: 5px;
  font-size: 13px;
}
